
<div class="col-xs-8 col-xs-offset-2">

<h2>Add a Tool</h2>

<%= form_tag(group_user_tools_path(@group, current_user), method: "post" ) do %>
  <%= label_tag(:name, "Tool Name:") %>
  <%= text_field_tag(:name, nil, :class=>"form-control") %>

  <%= label_tag(:category, "Category") %>
  <%= select_tag 'category', options_from_collection_for_select(@categories,'id', 'name') %>
  <%= submit_tag("Submit", :class=>"btn btn-primary") %>
<% end %>
</div>