<div class="col-xs-8 col-xs-offset-2">

<h1>Create a new Group</h1>
<%= form_tag('/groups', method: "post") do %>
  <%= label_tag(:name, "Group Name:") %>
  <%= text_field_tag(:name, nil, :class=>"form-control") %>
  <br>
  <%= label_tag(:invites, "Invite friends to your group, separated by commas:") %>
  <br>
  <%= text_area_tag(:invites, nil, :class=>"form-control")  %>
  <br>

  <%= submit_tag("Submit", :class=>"form-control btn-primary") %>

<% end %>

</div>