<div class="row">
<% if user_signed_in? %>
  <h1><%= @group.name %></h1>
  <p>Admin: <%= @admin.name %></p>

  <% if current_user === @admin %>
    <p>Edit your group</p>
    <%= form_tag('/groups/' + @group.id.to_s + '/edit', method: "get") do %>
      <%= submit_tag("Update")%>
    <% end %>
    <p>Delete your group</p>
    <%= form_tag('/groups/' + @group.id.to_s, method: "delete") do %>
      <%= submit_tag("Delete")%>
    <% end %>
  <% end %>

  <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "btn btn-success" %>
  <%= link_to('Edit registration', edit_user_registration_path) %>

  <h2>Members:</h2>
  <ul>
    <% @members.each do |member| %>
      <li><%= link_to member.name, group_user_path(@group, member.id)%></li>
    <% end %>
  </ul>

  <%= link_to "Add a Tool", new_group_user_tool_path(@group, current_user), :method => "get" %>
  <h2>Group Tools:</h2>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category_path(category.id)%></li>
    <% end %>

  </ul>
<% else %>
  <%= link_to 'Register', new_user_registration_path %>
  <%= link_to "Log in", new_session_path(resource_name) %>

<% end %>
</div>

