
<h2>Rent <%= @user.name %>'s <%= @tool.name %></h2>
<div>
  <%= form_for [@group,@user,@tool,@rental] do |f| %>
      <%= f.label :start_date, "Select Date" %>
      <%= f.date_select :start_date %>
      <br>
      <%= f.submit "Submit Request"%>
  <% end %>
</div>
